body {
    background-image: url(./img/67344577.webp);
    height: 45vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.donate-form-text {
    background-color: white;
    padding: 1vw 3vw;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 3vw;
    width: 50%;
    border: none;
    color: black;
    font-size: 15px;
}
.heading {
    color: rgb(147, 65, 65);
    font-size: 35px;
    text-align: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.donate {
    margin-top: 5vw;
    padding: 10px 35px;
    border-radius: 15%;
}
.main_container {
    background-color: rgba(158, 57, 72, 0.534);
    height: 35vw;
    text-align: center;
    margin: auto;
    padding: 7vw;
    padding-top: 1vw;
    width: 45%;
}