body {
    margin: 0 auto;
    background-color: #f2f3f5;
}
.donation_button {
    background-color: rgba(221, 74, 77, 0.986);
    margin: auto;
    margin-top: 5vw;
    max-height: 2vw;
    max-width: 20vw;
    padding: 3vw;
    border-radius: 15%;
    padding-bottom: 6vw;
    text-align: center;
}
.donation_button a {
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 5vw;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    border-radius: 15%;
}
.photo {
    background-image: url(./img/85991540.webp);
    background-size: 1530px 800px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vw;
    filter: blur(2.7px);
    -webkit-filter: blur(2.7px);
}
.photo-text {
    background-color: rgb(204, 50, 50);
    background-color: rgba(31, 71, 145, 0.3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    color: white;
    position: absolute;
    font-weight: bold;
    text-align: center;
    margin: auto;
    top: 7vw;
    left: 15vw;
    right: 15vw;
    z-index: 2;
    max-width: 300vw;
    max-height: 100vw;
    font-size: 6vw;
    padding: 20px;
    text-align: center;
}
.content {
    margin: auto;
    text-align: center;
}
.content_heading {
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: brown;
}
.content_description {
    font-style: oblique;
    background-color: burlywood;
    font-size: 2.3vw;
    line-height: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
}